
/* Stylesheet - Projet n°3 : Dynamisez une page web avec des animations css / Clémence Barnaud */

@mixin menu-lines ($background1, $background2) {
	h3 {
		display: flex;
		align-items: center;
		margin: 1em -1em;
		font-weight: bolder;
		&:before {
			content: ""; 
			flex:1;
			height: 5px;
			margin: 0 1em;
			background:$background1;
		}
		&:after {
			content: ""; 
			flex:1;
			height: 5px;
			margin: 0 1em;
			background:$background2;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

@font-face {
	font-family: 'ClarikaGrotesque-Medium';
  	src: url('assets/fonts/ClarikaGrotesque-Medium/font.eot');
  	src: url('assets/fonts/ClarikaGrotesque-Medium/font.woff2') format('woff2'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.woff') format('woff'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.eot?#iefix') format('embedded-opentype'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.ttf') format('truetype');
}

@font-face {
    font-family: 'blackhand_trialregular';
    src: url('assets/fonts/BlackHand/blackhand_trial-webfont.eot');
    src: url('assets/fonts/BlackHand/blackhand_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.woff2') format('woff2'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.woff') format('woff'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.ttf') format('truetype'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.svg#blackhand_trialregular') format('svg');
}

%font_note_enchantee {
	font-family: 'blackhand_trialregular';
}

@font-face {
    font-family: 'kalamregular';
    src: url('assets/fonts/Kalam/kalam-regular-webfont.eot');
    src: url('assets/fonts/Kalam/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/Kalam/kalam-regular-webfont.woff') format('woff'),
         url('assets/fonts/Kalam/kalam-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/Kalam/kalam-regular-webfont.svg#kalamregular') format('svg');
}

@font-face {
    font-family: 'qillaitalic';
    src: url('assets/fonts/Qilla/qilla_slant-webfont.eot');
    src: url('assets/fonts/Qilla/qilla_slant-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Qilla/qilla_slant-webfont.woff2') format('woff2'),
         url('assets/fonts/Qilla/qilla_slant-webfont.woff') format('woff'),
         url('assets/fonts/Qilla/qilla_slant-webfont.ttf') format('truetype'),
         url('assets/fonts/Qilla/qilla_slant-webfont.svg#qillaitalic') format('svg');
}

%font_chic_francaise {
	font-family: 'qillaitalic';
}

@font-face {
    font-family: 'latin_modern_roman_demi10Rg';
    src: url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.eot');
    src: url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.woff') format('woff'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.svg#latin_modern_roman_demi10Rg') format('svg');
}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('assets/fonts/DancingScript/dancingscript-regular-webfont.eot');
    src: url('assets/fonts/DancingScript/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.woff') format('woff'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
}

%font_delice_papilles {
	font-family: 'dancing_script_otregular';
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.eot');
    src: url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.woff') format('woff'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
}

%font_palette_gout {
	font-family: 'kaushan_scriptregular';
}

$color-bloc1: #fcdfdb;
$color-bloc2: #fff5fe;
$color-bloc3: #edefef;
$color-bloc4: #fdfffd;
$color-header: #579c87;
$color-text-header: #fdcb46;
$text-menu1: black;
$img-menu1-1:#f04a5e;
$img-menu1-2:#f78f6a;
$text-menu2-1:#c77412;
$text-menu2-2:#a56799;
$text-menu2-3:#6e4ccc;
$text-menu3-1:#0432df;
$text-menu3-2:#0670f3;
$text-menu3-3:#229df9;
$text-menu4-1:#3d9339;
$text-menu4-2:#bfff7e;
$color-shadow: #ededed;

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@extend html;
	background-color: white;
	max-width: 1970px;
	width: 100%;
	margin: 0 auto 0 auto;
	display: table;
	position: relative;
}

header {
	background-color: $color-header;
	color: $color-text-header;
	font-size: 2em;
	font-family: 'ClarikaGrotesque-Medium', "Avenir Next Medium";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	margin: 0;
	a {
		width: 275px;
		img {
			width: 100%;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 85px;
	a {
		text-decoration: none;
		color: unset;
	}
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

%blocs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 325px;
	height: 460px;
	margin: 60px 30px 0 30px;
	box-shadow: 0 0 10px $color-shadow;
}

h2, h3 {
	margin: 0;
	line-height: 2.5em;
}

.bloc1 {
	@extend %blocs;
	background-color: $color-bloc1;
	i {
		font-size: 2em;
		background: linear-gradient(to right, $img-menu1-1, $img-menu1-2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		@extend %font_note_enchantee;
		font-size: 1.4em;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
	}
	
}

.bloc2 {
	@extend %blocs;
	background-color: $color-bloc2;
	h2 {
		@extend %font_chic_francaise;
		font-size: 1.2em;
		background: linear-gradient(to right, $text-menu2-1, $text-menu2-2, $text-menu2-3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h3 {
		font-family: 'latin_modern_roman_demi10Rg';
		font-size: 2em;
		color: $text-menu2-1;
	}
}

.bloc3 {
	@extend %blocs;
	background-color: $color-bloc3;
	h2 {
		@extend %font_delice_papilles;
		font-size: 1.7em;
		background: linear-gradient(to right, $text-menu3-1, $text-menu3-2, $text-menu3-3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
		color: $text-menu3-3;
	}
}
	
.bloc4 {
	@extend %blocs;
	background-color: $color-bloc4;
	h2 {
		@extend %font_palette_gout;
		font-size: 1.5em;
		background: linear-gradient(to right, $text-menu4-1, $text-menu4-2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
		color: $text-menu4-1;
	}
}

.bloc_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scale(1);
	transition: transform 400ms;
	&:hover {
		transform: scale(1.15);
		opacity: 50%;
	}
}

.btn {
	@extend header;
	font-size: 2.3em;
	align-self: center;
	width: 400px;
	height: 70px;
	border-radius: 20px;
	margin: 55px 55px;
}

footer {
	@extend header;
	height: 85px;
	max-width: 1970px;
	width: 100%;
	justify-content: space-between;
	align-content: stretch;
	position: fixed;
	bottom: 0;
	left: auto;
	right: auto;
	a {
		color: $color-text-header;
		text-decoration: none;
		padding:30px;
	}
}

#contact {
	text-align: right;
}

/*Stylesheet - Page1.html - La note enchantée */

h1 {
	align-self: center;
	font-size: 2.3em;
	font-family: 'ClarikaGrotesque-Medium';
	padding-top: 20px;
}

%pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 725px;
	height: 100%;
	margin: auto;
	margin-bottom: 85px;
	padding: 60px 0 60px 0;
	box-shadow: 0 0 10px $color-shadow;
}

.page1 {
	@extend %pages;
	background-color: $color-bloc1;
	color: black;
	@extend %font_note_enchantee;
	font-stretch: ultra-expanded;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
	i {
		font-size: 3em;
		background: linear-gradient(to right, $img-menu1-1, $img-menu1-2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		font-size: 2em;
	}
}

.menu1, .menu2, .menu3, .menu4 {
	p {
		display: inline-block;
	}
}

.menu1 {
	.starters, .mains, .desserts {
		@include menu-lines ($text-menu1, $text-menu1);
	}
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	p {
		padding: 0 10px 0 10px;
		margin: 0;
		line-height: 3;
	}
}

header {
	h2 {
		font-family: 'blackhand_trialregular';
	}
}

.bottom {
	display: flex;
	font-size: 1.5em;
	i {
		line-height: normal;
		margin-right: 10px;
		background: linear-gradient(to right, $img-menu1-1, $img-menu1-2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	p {
		margin: 0;
	}	
}


/*Stylesheet - Page2.html - Le chic à la française */

.page2 {
	@extend %pages;
	background-color: $color-bloc2;
	color: black;
	@extend %font_chic_francaise;
	h2 {
		background: linear-gradient(to right, $text-menu2-1, $text-menu2-2, $text-menu2-3);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu2 {
	.starters {
		color: $text-menu2-1;
		@include menu-lines ($text-menu2-1, $text-menu2-1);
	}
	.mains {
		color: $text-menu2-2;
		@include menu-lines ($text-menu2-2, $text-menu2-2);
	}
	.desserts {
		color: $text-menu2-3;
		@include menu-lines ($text-menu2-3, $text-menu2-3);
	}
}

/*Stylesheet - Page3.html - Le délice des papilles */

.page3 {
	@extend %pages;
	background-color: $color-bloc3;
	color: black;
	@extend %font_delice_papilles;
	h2 {
	background: linear-gradient(to right, #0432df, #229df9);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu3 {
	.starters {
		@include menu-lines ($text-menu3-1, $text-menu3-1);
	}
	.mains {
		@include menu-lines ($text-menu3-2, $text-menu3-2);
	}
	.desserts {
		@include menu-lines ($text-menu3-3, $text-menu3-3);
	}
}

/*Stylesheet - Page4.html - La palette du goût */

.page4 {
	@extend %pages;
	background-color: $color-bloc4;
	color: black;
	@extend %font_palette_gout;
	h2 {
		background: linear-gradient(to right, #3d9339, #bfff7e);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.menu4 {
	.starters, .mains, .desserts {
		@include menu-lines (linear-gradient(to right,$text-menu4-1, $text-menu4-2), linear-gradient(to right, $text-menu4-2, $text-menu4-1));
	}
}