
/* Stylesheet - Projet n°3 : Dynamisez une page web avec des animations css / Clémence Barnaud */

@font-face {
	font-family: 'ClarikaGrotesque-Medium';
  	src: url('assets/fonts/ClarikaGrotesque-Medium/font.eot');
  	src: url('assets/fonts/ClarikaGrotesque-Medium/font.woff2') format('woff2'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.woff') format('woff'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.eot?#iefix') format('embedded-opentype'), 
  		url('assets/fonts/ClarikaGrotesque-Medium/font.ttf') format('truetype');
}

@font-face {
    font-family: 'blackhand_trialregular';
    src: url('assets/fonts/BlackHand/blackhand_trial-webfont.eot');
    src: url('assets/fonts/BlackHand/blackhand_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.woff2') format('woff2'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.woff') format('woff'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.ttf') format('truetype'),
         url('assets/fonts/BlackHand/blackhand_trial-webfont.svg#blackhand_trialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

%font_note_enchantee {
	font-family: 'blackhand_trialregular';
}

@font-face {
    font-family: 'kalamregular';
    src: url('assets/fonts/Kalam/kalam-regular-webfont.eot');
    src: url('assets/fonts/Kalam/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Kalam/kalam-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/Kalam/kalam-regular-webfont.woff') format('woff'),
         url('assets/fonts/Kalam/kalam-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/Kalam/kalam-regular-webfont.svg#kalamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qillaitalic';
    src: url('assets/fonts/Qilla/qilla_slant-webfont.eot');
    src: url('assets/fonts/Qilla/qilla_slant-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Qilla/qilla_slant-webfont.woff2') format('woff2'),
         url('assets/fonts/Qilla/qilla_slant-webfont.woff') format('woff'),
         url('assets/fonts/Qilla/qilla_slant-webfont.ttf') format('truetype'),
         url('assets/fonts/Qilla/qilla_slant-webfont.svg#qillaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

%font_chic_francaise {
	font-family: 'qillaitalic';
}

@font-face {
    font-family: 'latin_modern_roman_demi10Rg';
    src: url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.eot');
    src: url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.woff') format('woff'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/LatinModernRoman/lmromandemi10-regular-webfont.svg#latin_modern_roman_demi10Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('assets/fonts/DancingScript/dancingscript-regular-webfont.eot');
    src: url('assets/fonts/DancingScript/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.woff') format('woff'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/DancingScript/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

%font_delice_papilles {
	font-family: 'dancing_script_otregular';
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.eot');
    src: url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.woff') format('woff'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/KaushanScript/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

%font_palette_gout {
	font-family: 'kaushan_scriptregular';
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@extend html;
	background-color: white;
	max-width: 1970px;
	width: 100%;
	margin: 0 auto 0 auto;
	display: table;
	position: relative;
}

header {
	background-color: #579c87;
	color: #fdcb46;
	font-size: 2em;
	font-family: 'ClarikaGrotesque-Medium', "Avenir Next Medium";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	margin: 0;
	a {
		width: 275px;
		img {
			width: 100%;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 85px;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 85px;
	a {
		text-decoration: none;
		color: unset;
	}
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

%blocs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 325px;
	height: 460px;
	margin: 60px 30px 0 30px;
}

h2, h3 {
	margin: 0;
	line-height: 2.5em;
}

.bloc1 {
	@extend %blocs;
	background-color: #fcdfdb;
	i {
		font-size: 2em;
	}
	h2 {
		@extend %font_note_enchantee;
		font-size: 1.4em;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
	}
	
}

.bloc2 {
	@extend %blocs;
	background-color: #fff5fe;
	h2 {
		@extend %font_chic_francaise;
		font-size: 1.2em;
	}
	h3 {
		font-family: 'latin_modern_roman_demi10Rg';
		font-size: 2em;
	}
}

.bloc3 {
	@extend %blocs;
	background-color: #edefef;
	h2 {
		@extend %font_delice_papilles;
		font-size: 1.7em;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
	}
}
	
.bloc4 {
	@extend %blocs;
	background-color: #fdfffd;
	h2 {
		@extend %font_palette_gout;
		font-size: 1.5em;
	}
	h3 {
		font-family: 'kalamregular';
		font-size: 2em;
	}
}

.btn {
	@extend header;
	font-size: 2.3em;
	align-self: center;
	width: 400px;
	height: 70px;
	border-radius: 20px;
	margin: 55px 55px;
}

footer {
	@extend header;
	height: 85px;
	max-width: 1970px;
	width: 100%;
	justify-content: space-between;
	align-content: stretch;
	position: fixed;
	bottom: 0;
	left: auto;
	right: auto;
	a {
		color: #fdcb46;
		text-decoration: none;
		padding:30px;
	}
}

#contact {
	text-align: right;
}

/*Stylesheet - Page1.html - La note enchantée */

h1 {
	align-self: center;
}

%pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 725px;
	height: 1000px;
	margin: auto;
}

.page1 {
	@extend %pages;
	background-color: #fcdfdb;
	color: black;
	@extend %font_note_enchantee;
}

.menu1, .menu2, .menu3, .menu4 {
	p {
		display: inline-block;
	}
}

.starters, .mains, .desserts {
	display: flex;
	flex-direction: column;
	h3 {
		align-self: center;
	}
}

ul {
	list-style: none;
}

li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header {
	h2 {
		font-family: 'blackhand_trialregular';
	}
}

/*Stylesheet - Page2.html - Le chic à la française */

.page2 {
	@extend %pages;
	background-color: #fff5fe;
	color: black;
	@extend %font_chic_francaise;
}

/*Stylesheet - Page3.html - Le délice des papilles */

.page3 {
	@extend %pages;
	background-color: #edefef;
	color: black;
	@extend %font_delice_papilles;
}

/*Stylesheet - Page4.html - La palette du goût */

.page4 {
	@extend %pages;
	background-color: #fdfffd;
	color: black;
	@extend %font_palette_gout;
}